####################################################
# Globality custom configuration for AWS ECS agent #
####################################################
# See for more information:
# http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html
