[Unit]
Description=AWS ECS Agent
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
RestartSec=10
Restart=always
KillMode=none

ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull amazon/amazon-ecs-agent:latest
ExecStart=/usr/bin/docker run --name %n \
	--restart=on-failure:10 \
	--volume=/var/run/docker.sock:/var/run/docker.sock \
	--volume=/var/log/ecs:/log \
	--volume=/var/lib/ecs/data:/data \
	--net=host \
	--env-file=/etc/ecs/ecs.config \
	--env=ECS_LOGFILE=/log/ecs-agent.log \
	--env=ECS_DATADIR=/data/ \
	--env=ECS_ENABLE_TASK_IAM_ROLE=true \
	--env=ECS_ENABLE_TASK_IAM_ROLE_NETWORK_HOST=true \
    --env=ECS_IMAGE_CLEANUP_INTERVAL=10m \
    --env=ECS_IMAGE_MINIMUM_CLEANUP_AGE=20m \
    --env=ECS_ENGINE_TASK_CLEANUP_WAIT_DURATION=1h \
    --env=ECS_NUM_IMAGES_DELETE_PER_CYCLE=10 \
	amazon/amazon-ecs-agent:latest

[Install]
WantedBy=multi-user.target
